@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center_div_inside_div{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.header__basket__item__img{
    display: block;
    width: 66px;
    height: 100px;
    background-size: cover;
    border: 1px solid #ebebeb;
    background-position: 50%;
    background-image: url(https://akn-eh.b-cdn.net/products/2022/09/16/223551/b316c024-9676-4f0e-a704-16a56dfc81ec_size120x120.jpg);

}

